<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <!-- Core W3.css -->
    <link rel="stylesheet" href="/libs/w3/w3.css" type="text/css"/>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<!-- show any messages that come back with authentication -->

<div id="form-wrapper">
    <p>
        <strong>Emailed Successfully Reset Link to </strong>: <%= user.username %>
    </p>
</div>


</body>
</html>